@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

.layout {
  display: flex;
  min-height: 100vh;
  background: var(--bg-body);
  font-family: 'Google Sans', 'Google Sans Flex', Arial, sans-serif;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg-body);
  margin-left: 280px;
  margin-top: 100px;
}
.content {
  max-width: 1200px;   /* ou o valor que preferir */
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .layout {
    flex-direction: column;
  }
  .main {
    padding: 0;
  }
  .content {
    padding: 16px 8px;
  }
}
